<HTML>
    <HEAD>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">          
      <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <style>
      
body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color:aquamarine;
}
    </style>
      </HEAD>
    
      <body align="center" class="backendimg">
          <div mainFrame>
                <div class="up">
                        <div class="IMG">
                        </div>
                      </div>
                      <div class="topnav">
                        <a href="/logout">Logout</a>
                                 <a href="/contact" style="align-content: center">Contact</a>
                        <%if(presents == "remonet.shalaka@gmail.com" || admin ==true){%>
                            <a href="../admin/userManagement">User Management</a>
                        <%}%>
                        <a href="../modules">Home</a>
                    </div>
      <form align="center" action="/dataRetrieval/bmsGateway" class="form-container" method="post">
    
          <div>
            <h1>Gateway Configuration</h1>
            <label for="Gateway"><b>Gateway :</b></label>
            <input type="text" id="gateway" name="gateway" value="<%= data.gateway %>"readonly>
    
                <h2>Id</h2>
                <label for="ID"><b>ID :</b></label>

                <input placeholder="ID" name="ID" value="<%= data.id%>" required>

                <br/><button class="btns" style="left:0%" type="submit" name="Save" class="btn">Save</button>
            <button type="button" class="btns" style="left:0%" onclick="location.href='./bms'">Close</button>
            <button type="reset" class="btns" style="left:0%;" name="Remove" class="btn">Reset</button>
          </div>
      </form>
      <% include footer.ejs %>
    </div>
      </body>
      </HTML>
    